html,
body {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('../images/background2.jpg');
  background-size: cover;
}

p {
  margin-right: 10px;
}

a {
  color: #209118;
  text-decoration: none;
}

a:hover {
  color: #145b0f;
}

#footer {
  display: flex;
}

ul#adventDoors {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

#adventDoors li {
  position: absolute;
}

#adventDoors li a {
  color: #000;
  width: 100%;
  height: 100%;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  border: 1px #000 solid;
}

#adventDoors li a:not(.disabled):hover {
  color: #000;
  background-color: transparent;
  background-color: rgba(255,255,255,0.15);
}

#adventDoors li a.disabled {
  border-color: crimson;
  background-color: rgba(220,20,60,0.02);
  color: #crimson;
  cursor: default;
}
